<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-indexeddb-shim" version="0.1.1">
    <name>cordova-plugin-indexeddb-shim</name>
    <description>Cordova indexedDB Plugin</description>
    <license>Apache 2.0</license>
    <author>Dick van den Brink</author>
    <keywords>cordova,indexeddb</keywords>
    <repo>https://github.com/awenko/cordova-indexeddb.git</repo>
    <issue>https://github.com/awenko/cordova-indexeddb/issues</issue>

    <engines>
        <engine name="cordova-android" version=">=3.2.0" />
        <engine name="cordova-ios" version=">=3.0.0" />
    </engines>

    <js-module src="www/IndexedDBShim.js" name="indexeddb">
        <runs />
    </js-module>
</plugin>
